@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,200;9..40,300;9..40,500&family=Roboto+Condensed&family=Roboto:wght@100;300;400&display=swap');
*,
::after,
::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* @import url('https://fonts.googleapis.com/css?family=Cabin:400|Spline+Sans+Mono:400'); */

:root {
  --text-base: #fff;
  --text-subdued: #a7a7a7;
  --body-backgroundColor: #000;
  --card-background: #242424;
  --container-background: #121212;
  --borderRadius: 8px;
  --font-family: 'DM Sans';

  --red-light: #f8d7da;
  --red-dark: #842029;
  --green-light: #d1e7dd;
  --green-dark: #0f5132;

  --headingFont: 'Spline Sans Mono', monospace;
  --bodyFont: 'Cabin', sans-serif;
  --smallTextFont: 0.7em;

  /* rest of the vars */

  --letterSpacing: 1px;
  --transition: 0.5s ease-in-out all;
  /* max-width: 1120px; */
  --fixed-width: 600px;
  /* box shadow */
  --shadow-sm: 0 1px 2px 0 rgb(0 0 0 / 0.05);
  --shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
  --shadow-md: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
  --shadow-lg: 0 10px 15px -3px rgb(0 0 0 / 0.1),
    0 4px 6px -4px rgb(0 0 0 / 0.1);
  --shadow-xl: 0 20px 25px -5px rgb(0 0 0 / 0.1),
    0 8px 10px -6px rgb(0 0 0 / 0.1);
  --shadow-inner: inset 0 2px 4px 0 rgb(0 0 0 / 0.05);
}
/* anchor tag decoration-MAYA*/
a {
  text-decoration: none;
}
ul {
  list-style-type: none;
  padding: 0;
}

img {
  width: 100%;
  display: block;
  object-fit: cover;
}

.icon {
  width: 1rem;
}
body,html {
  background: var(--body-backgroundColor);
  font-family: var(--bodyFont);
  height:100%;
  display:flex;
  flex-direction:column;
  overflow:hidden;
}
.playlist{
   flex:1;
   display:flex;
   overflow:hidden;
}



.sidebar {
 flex:.25;
  min-width: 15rem;

  height: 90vh;

  display: flex;
  flex-direction: column;
  align-items: center;
  /* display: inline-block; */
  overflow-y: auto;
}


.hero {
  overflow-y: auto;
  flex:1;
  display:flex;
  flex-direction:column;
  margin-top: 0.5rem;
  border-radius: var(--borderRadius);
  background: linear-gradient(180deg, #90AEA7 0%, #000 89.7%);

}
.scroll-container{
  flex: 1;
  display:flex;
  flex-direction:column;
  overflow-y:auto;
  border-radius: var(--borderRadius);
}
/* developed by Aditi */
::-webkit-scrollbar {
  width: 5px;
  height: 0;
}
::-webkit-scrollbar-track{
  background: transparent;
}
::-webkit-scrollbar-thumb{
  background-color: rgb(203, 202, 202);
  border-radius: 8px;
}

.logo-header {
  width: 95%;
 
  display: flex;
  align-items: center;

  padding: 1rem 0;
  border-radius: var(--borderRadius);
}
.logo {
  width: 150px;
  margin-left: 1rem;
}



.links {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.link a {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 1rem;
  color: var(--text-base);
  text-transform: capitalize;
  letter-spacing: var(--letterSpacing);
}
.link a i {
  margin: auto 1rem;
}
.box {
  width: 95%;
  background: var(--container-background);
  margin-top: 0.5rem;
  border-radius: var(--borderRadius);
  padding: 1rem 0.5rem;

/* itachi-hun-young-jung-lee */
}
.box-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 1rem;
}

.box-content {
  margin-top: 1rem;
  background: var(--card-background);
  border-radius: var(--borderRadius);
  padding: 1rem 1rem;
  color: var(--text-base);
  /* letter-spacing:var(--letterSpacing); */
}
.box-content p {
  margin: 1.2rem 0;
  font-size: 0.85rem;
}

.content-btn {
  border: transparent;
  font-size: 1rem;
  font-weight: bold;
  text-transform: capitalize;
  background: var(--text-base);
  padding: 0.4rem 0.75rem;
  border-radius: 20px;
  cursor: pointer;
}

.content-btn:hover, .user-btn:hover{
  transform: scale(1.05);
}

.heading-btn {
  display: flex;
  align-items: center;
  background: transparent;
  border: transparent;
  font-size: 1rem;
  font-weight: 600;
  color: var(--text-subdued);
  text-transform: capitalize;
  cursor: pointer;
  /* letter-spacing:var(--letterSpacing); */
}
.heading-btn:hover{
  color:var(--text-base);
}
.search-link>a{
  color:#595959;
  transition:var(--transition);
}
.search-link>a:hover{
  color:var(--text-base);
}
.heading-btn img {
  width: 1rem;
  margin-right: 1rem;
}

.plus-btn {
  background: transparent;
  border: transparent;
  font-size: 1rem;
  font-weight: 200;
  color: var(--text-subdued);
  text-transform: capitalize;
  letter-spacing: var(--letterSpacing);
  cursor: pointer;
    padding:.5rem;
    width:30px;
    height:30px;
    border-radius:50%;
    display:flex;
    align-items:center;
    justify-content:center;
    transition:var(--transition);
}
.plus-btn:hover{
  background:lightgrey;
  padding:.3rem;
  color:black;
}

/* media-query starts section-15 damon */

/* media query */
@media screen and (max-width: 979px) {
  .footer-link{
    flex-direction: column;
  }
}
@media screen and (max-width: 875px) {
  .about-container{
    grid-template-columns: 1fr;
    gap: 2rem;
  }
}
 @media screen and (max-width:830px) {
  .play-pause{
    gap: 0.5rem;
  }
  .extra-fun{
    gap: 0.5rem;
    width: 100%;
  }
  .play-time{
    gap: 0.5rem;
    width: 100%;
  }
  .song-detail{
    gap: 0.5rem;
    width: 100%;
  }

  .audio{
    width: 40%;
  }
  .current-playing-image{
    width: 30px;
    height: 30px;
  }
  .cur-song-icon{
    gap: 0.5rem;
  }
  .time-range{
    width: 9rem;
  }
}
@media screen and (max-width: 769px) {
  .player{
    grid-template-columns: 3fr 5fr 3fr;
  }
  .extra-fun{
    justify-content: flex-end;
  }
}
 @media screen and (max-width:710px) {
    .sidebar{
      display:none;
    }
    .hero{
      flex: 1;
      margin-inline: 0.4rem;
      height: 80vh;
    }
    
    .player{
      position: static;
      background-color: var(--card-background);
      border-radius: var(--borderRadius);
    }
    .responsive-player{
      margin-inline: .4rem;
      display: flex;
      flex-direction: column;
      height: 20vh;
    }
    .responsive-menu{
      height: 10vh;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: 1fr;
    }
    .responsive-menu-box{
      display: flex;
      justify-content: center;
      align-self: center;
    }
 }
 /* media-query section-9 salvatore */
 @media screen and (max-width: 641px){
  .d-none-r{
    display: none;
  }
  .player{
    grid-template-columns: 3fr 1fr;
  }
  .song-detail{
    gap: 1rem;
  }
 }
 @media screen and (max-width: 635px) {
  .first-card{
    width: 100%;
  }
  .card-container{
    flex-wrap: nowrap;
    overflow-x: auto;
  }
  html{
    font-size: 13px;
  }
 }
 @media screen and (max-width: 380px){
    .first-card-container{
      flex-direction: column;
      flex-wrap: nowrap;
      width: 100%;
    }
 }




























/* //////////////
 */
 /* .responsive-player{
 } */
 .responsive-menu{
  display: none;
 }
 .player {
  height: 10vh;
  width: 100%;
  /* border:1px solid white; */
  background: var(--body-backgroundColor);
  padding: 0.2rem 1rem;
  box-shadow: var(--shadow-lg);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  color: white;
}
.album-btn {
  display: none;
}
.song-detail {
  display: flex;
  align-items: center;
  justify-self: start;
  gap: 1rem;
}

.cur-song h4 {
  text-transform: capitalize;
  margin-top: -2px;
  letter-spacing: var(--letterSpacing);
  margin-bottom: 5px;
}
.cur-song p,
.play-time p {
  font-size: 0.8rem;
  color: var(--text-subdued);
}
.cur-song-icon {
  display: flex;
  gap: 1rem;
  color: white;
  cursor: pointer;
}

svg {
  fill: var(--text-subdued);
  cursor: pointer;
}
svg:hover {
  fill: var(--text-base);
}
.extra-fun {
  display: flex;
  align-items: center;
  gap: 1rem;
  justify-content: end;
}

.audio {
  height: 4px;
  appearance: none;
  background: var(--text-subdued);
}
::-webkit-slider-thumb {
  /* background: #04AA6D; */
  -webkit-appearance: none; /* Override default look */
  appearance: none;

  background-color: #04aa6d;
  width: 0.5rem;
  height: 0.5rem;
  cursor: pointer;
  border-radius: 50%;
}
.audio:hover {
  background: #04aa6d;
}

.player-fun {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 0.4rem;
}
.play-pause {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  margin-bottom: 0.2rem;
}
/* responsive-design by Jennifer */
.play-time {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
}

.time-range {
  height: 5px;
  appearance: none;
  width: 75%;
}

.suffle,
.repeat,
.prev,
.next {
  background: transparent;
  border: transparent;
  font-size: 1.2rem;
}

.play {
  width: 1.8rem;
  height: 1.8rem;
  background: var(--text-base);
  border: transparent;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.play svg {
  fill: black;
}


.play-hover-btn{
  background:#04aa6d;
  width:2.5rem;
  height:2.5rem;
  border:transparent;
  border-radius:50%;
  display:flex;
  justify-content:center;
  align-items:center;
  position:absolute;
  top:40%;
  right:15%;
  opacity:0;
   transition: transform .7s ease;
   box-shadow:var(--shadow-lg);

  
}
.play-hover-btn svg{
  fill:black;
}

.card:hover .play-hover-btn {
  opacity:1;
 transform: translateY(-20%);
}


.first-card-header h2{
color:white;
font-size:2rem;
margin-bottom:1rem;
}

.first-card-container{
  display:grid;
  grid-template-columns:1fr 1fr 1fr;
  align-items:center;
  justify-content:space-between;
  gap:1rem;
}
.first-card{
display:flex;
border-radius:var(--borderRadius);
background:var(--card-background);
align-items:center;
justify-content:space-between;
}
.first-card h3{
  color:var(--text-base);
  /* margin-left:-30px; */

}
.first-card-img{
  width:4rem;
  height:4rem;
  border-radius:var(--borderRadius);
}

.first-card-btn{
  background:#04aa6d;
  width:2.5rem;
  height:2.5rem;
  border:transparent;
  border-radius:50%;
  display:flex;
  justify-content:center;
  align-items:center;
  
  /* opacity:0; */
   transition: transform .7s ease;
   box-shadow:var(--shadow-lg);
   margin-right:1rem;
}

.first-card-btn svg{
  fill:black;
}





/* navbar */


.navbar {
  display: flex;
  width: 100%;
  background: #90AEA7;
  border-top-left-radius: var(--borderRadius);
  border-top-right-radius: var(--borderRadius);
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  position:sticky;
  top:0;
  z-index: 5;
}
.library-box{
  display:flex;
  flex-direction:column;
  
  overflow-y:auto;
}
.angle-icon {
  display: flex;
  gap: 1rem;
}
.circle-btn {
  width: 1.5rem;
  height: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;

  border: transparent;
  background: var(--card-background);
  color: var(--text-subdued);
  padding: 5px;
  border-radius: 50%;

  font-size: 1rem;
  font-weight: lighter;
  cursor: pointer;
  box-shadow: var(--shadow-md);
}

.user-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.8rem;
}
/* doreamon-card */
.explore {
  color: black;
}
.install {
  color: white;
  background: var(--body-backgroundColor);
}
.install i {
  margin-right: 10px;
}

.user-btn {
  background: black;
  color: white;
}
/* footer */

#footer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 5rem;
  padding: 1rem;
}
.about-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;


  color: white;
}

.foot-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.foot-container a {
  color: var(--text-subdued);
}
.foot-container a:hover {
  color: var(--text-base);
}

.link-container {
  display: flex;
  justify-self: end;
  margin-right: 3rem;
  gap: 1rem;
}
.link-btn {
  width: 2rem;
  height: 2rem;
  font-size: 1rem;
}
.link-btn:hover {
  background: var(--container-background);
  transition: var(--transition);
}

hr {
  margin: 2rem 1rem;
  color: var(--text-subdued);
  border: 1px solid var(--text-subdued);
  border-bottom: transparent;
}
.cookies {
  display: flex;
  padding: 1rem 1rem 10rem 1rem;
  justify-content: space-between;
}
.copyright {
  color: var(--text-subdued);
}
.footer-link {
  display: flex;
  gap: 1.5rem;
}
.footer-link a {
  color: var(--text-subdued);
  font-size: 0.9rem;
  text-transform: capitalize;
}
.footer-link a:hover {
  color: var(--text-base);
}

/* new foot css */

#footer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 5rem;
  padding: 1rem;
}
.about-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;

  color: white;
}
.foot-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.foot-container a {
  color: var(--text-subdued);
  font-size: 0.8rem;
}
.foot-container a:hover {
  color: var(--text-base);
}

.link-container {
  display: flex;
  justify-self: end;
  margin-right: 0;
  gap: 1rem;
}
.link-btn {
  width: 2rem;
  height: 2rem;
  font-size: 1rem;
  background:#292929;
  color:white;
}
.link-btn:hover {
  transition: var(--transition);
  background:#707070;
}
hr {
  margin: 2rem 1rem;
  color: var(--text-subdued);
  border: 1px solid var(--text-subdued);
  border-bottom: transparent;
}
.cookies {
  display: flex;
  padding: 1rem 1rem 4rem;
  justify-content: space-between;
}
.cookies a{
  font-size: 0.7rem;
}
.copyright {
  color: var(--text-subdued);
}
.footer-link {
  display: flex;
  gap: 1.5rem;
}
.footer-link a {
  color: var(--text-subdued);
  font-size: 0.9rem;
  text-transform: capitalize;
}
.footer-link a:hover {
  color: var(--text-base);
}

/* footer */

/* shichan-pyara-pyara
 */

/* card-container */
.container {
  width: 100%;
  /* background:var(--container-background); */
  padding: 1rem;
}

.card-header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding-bottom: 1rem;
}

.card-header a {
  color: white;
}
.show-all {
  font-size: 0.8rem;
  font-weight: bold;
}

.card-container {
  display: grid;
  grid-template-columns:repeat(6 ,1fr);
  gap: 1rem;
  overflow: scroll;
}
.card-container::-webkit-scrollbar {
  display: none;
}

.card {
  width: 9rem;
  min-width: 9rem;
  height: 14rem;
  background: #1a1a1a;
  /* background:#242424; */
  border-radius: var(--borderRadius);
  padding: 1rem;
  /* transition:var(--transition); */
  box-shadow: var(--shadow-sm);
  position: relative;
}
.card:hover {
  background: #242424;
  transition: var(--transition);
  box-shadow: var(--shadow-lg);
}
.card-image {
  border-radius: var(--borderRadius);
  margin-bottom: 1rem;
}
.card-title {
  color: white;
  font-size: 1rem;
  margin-bottom: 1rem;
  cursor: pointer;
}
.artist {
  color: var(--text-subdued);
  font-weight: lighter;
  font-size: 0.8rem;
}
/* card-container */



.head-container{
    width:100%;
    display:flex;
    padding:1rem;
    /* flex:1 5; */
    gap:1rem;
    align-items:center;
color:white;
margin-bottom:2rem;
}

.head-container>img{
    width:12rem;
    height:12rem;
}
.detail-container{
    display:flex;
    flex-direction:column;

    
}
.detail-container h1{
    font-size:5rem;
    color:var(--text-base);
   margin:1rem 0;
    font-weight:600;
    line-height:5rem;
    letter-spacing:-5px;

}
.current-playing-image{
  width: 2.5rem;
  height: 2.5rem;
}

@media screen and (max-width:1200px) {
  .detail-container h1{
    font-size:4rem;
    /* letter-spacing:-8px; */
    line-height:3rem;
  }
  .detail-bottom-container p{
    display:none;
  }
  
}

/* desgined by Aditi Lal */

.detail-bottom-container{
    display:flex;
     align-items:center;
    gap:.5rem; 
    justify-self:end;
}
.detail-bottom-container>img{
    width:1rem;
    height:1rem;
    border-radius:50%;
}
.detail-bottom-container>a{
    color:var(--text-base);
    font-weight:900;
    font-size:.8rem;

}
.detail-bottom-container>p>span{
    color:var(--text-subdued);
    margin-left:5px;
}


.more-option-container{
    display:flex;
    padding:1rem;
    align-items:center;
    gap:1.5rem;
}



.btn-play{
    width:3rem;
    height:3rem;
    border-radius:50%;
    background:#1ed760;
    border:transparent;

    box-shadow:var(--shadow-xl);
}
.btn-play svg{
    fill:black;
}


.heart-btn,.more-btn{
    background:transparent;
    border:transparent;
    
}


.contents{
    padding:1rem;
}




.content-head{
    display:flex;
    align-items:center;
    color:var(--text-subdued);
    justify-content:center;
    
border-bottom:1px solid var(--text-subdued);
padding-bottom:1rem;

}
.number{
 display:flex;
    justify-content:center;
    flex:5%;
   
}

.content-title{
    flex:80%;
}

.timer{
    display:flex;
    justify-content:end;
    flex:15%;
    margin-right:0rem;
}
.album-content,.content-head{
    display: grid;
    grid-template-columns: 20px auto 1fr auto;
    grid-column-gap: 0.8rem;
    padding:.5rem 0.8rem;
}
.song-img{
  width: 2.8rem;
  height: 2.8rem;
}

.album-content{
  color:var(--text-subdued);
}
.number{
  display: flex;
  align-items: center;
}
.content-title a{
  color:var(--text-base);
font-size:1.2rem;
font-weight:bold;



}
.explicit{
  font-size:.5rem;
  width:1rem;
  height:1rem;
  background:lightgrey;
  color:black;
  margin-right:5px;
}
.content-title>p{
font-size:.8rem;
margin-top:.5rem;
}


.timer-option{
  display:flex;
  align-items:center;
  justify-content: center;
  gap: 0.8rem;
}


.copyright-album{
  color:var(--text-subdued);
  padding:1rem;
  margin-bottom:2rem;

}
.copyright-album p{
  font-size:.8rem;
  margin-bottom:5px;
}


.album-content:hover {
  background:var(--card-background);
  border-radius:var(--borderRadius);
  /* color:black; */
}



.playlist-link{
  background:var(--card-background);
  display:inline-block;
  margin:.5rem 0 1rem .6rem;
  /* margin-left:1rem; */
  border-radius:15px;
  display:inline-flex;
align-items:center;
justify-content:center;
align-self:flex-start;
  padding:.4rem .5rem;

}
.playlist-link>a{
  color:var(--text-base);
font-size:.8rem;
font-weight:600;
}

.playlist-link>a:hover{
  color:var(--text-subdued);
}


.playlist-search{
  display:flex;
  align-items:center;
  justify-content:space-between;
  margin:0rem 0 1rem 0;
  padding:0 1rem;
}


.playlist-search>i{
  color:white;
  font-size:1rem;
}

.playlist-search select{
  background:transparent;
  border:transparent;
  font-size:1rem;
  margin:0;
  color:white;
  width:5rem;
  /* font:inherit; */
  text-transform:capitalize;
  
}

option{
  background:var(--card-background);
  font-size:1rem;
  border:transparent;
}

.playlist-card-container{
  display:flex;
  flex:1;
  /* align-items:center; */
  flex-direction:column;
  padding:.5rem;
row-gap:.3rem;
overflow:auto;
  
}
.playlist-card{
  display:flex;
align-items:center;
padding:.5rem;
border-radius:var(--borderRadius);

}
.playlist-card:hover{
  background:var(--card-background);
}

.playlist-card img{
  width:2.5rem;
  height:2.5rem;
  margin-right:.5rem;
  border-radius:var(--borderRadius);
  


}

.playlist-card-detail{
  color:white;
}

.playlist-card-detail h3{
  margin-bottom:2px;
  letter-spacing:1px;
  font-size:.9rem;
}
.playlist-card-detail p{
color:var(--text-subdued);
font-size:.8rem;
letter-spacing:1px;

}

.cycle-btn-black{
  background:var(--body-backgroundColor);
  
}

.cycle-btn-black:hover{
  color:white;
}


.install-box{
    display: flex;
   

    justify-content: flex-start;
    width: 100%;
    padding: 1rem;
    

}
/* conjuring-2 */
.menu{

  display:flex;
  align-items:center;
  gap:.8rem;
  background:inherit;
  border:transparent;
  color:white;
font-size:1.2rem;
letter-spacing:1px;
  justify-content:start;
  margin-left:1rem;
}

.menu img{
  width:1.8rem;

}



/* media query */
@media screen and (max-width: 979px) {
  .footer-link{
    flex-direction: column;
  }
}
@media screen and (max-width: 875px) {
  .about-container{
    grid-template-columns: 1fr;
    gap: 2rem;
  }
}
 @media screen and (max-width:830px) {
  .play-pause{
    gap: 0.5rem;
  }
  .extra-fun{
    gap: 0.5rem;
    width: 100%;
  }
  .play-time{
    gap: 0.5rem;
    width: 100%;
  }
  .song-detail{
    gap: 0.5rem;
    width: 100%;
  }
  .audio{
    width: 40%;
  }
  .current-playing-image{
    width: 2.5rem;
  }
  .cur-song-icon{
    gap: 0.5rem;
  }
  .time-range{
    width: 9rem;
  }
}
@media screen and (max-width: 769px) {
  .player{
    grid-template-columns: 3fr 5fr 3fr;
  }
  .extra-fun{
    justify-content: flex-end;
  }
}
 @media screen and (max-width:710px) {
    .sidebar{
      display:none;
    }
    .hero{
      flex: 1;
      margin-inline: 0.4rem;
      height: 80vh;
    }
    
    .player{
      position: static;
      background-color: var(--card-background);
      border-radius: var(--borderRadius);
    }
    .responsive-player{
      margin-inline: .4rem;
      display: flex;
      flex-direction: column;
      height: 20vh;
    }
    .responsive-menu{
      height: 10vh;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: 1fr;
    }
    .responsive-menu-box{
      display: flex;
      justify-content: center;
      align-self: center;
    }
 }
 @media screen and (max-width: 641px){
  .d-none-r{
    display: none;
  }
  .player{
    grid-template-columns: 3fr 1fr;
  }
  .player-fun{
    align-items: flex-end;
  }
  .song-detail{
    gap: 1rem;
  }
 }
 @media screen and (max-width: 635px) {
  .first-card{
    width: 100%;
  }
  .card-container{
    flex-wrap: nowrap;
    overflow-x: auto;
  }
 }

 @media screen and (max-width: 380px){
    html{
      font-size: 13px;
    }
    .first-card-container{
      flex-direction: column;
      flex-wrap: nowrap;
      width: 100%;
    }
 }